<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1><a href="{% url 'home'%}">Home</a></h1>
    <h1><a href="{% url 'forumhome'%}">Forum</a></h1>
    <h1>Welcome to the Admin Panel for {{ current_society.name }}</h1>

    <h2>Pending Membership Requests</h2>
    <ul>
        {% for request in pending_requests %}
            <li>
                {{ request.user.username }}
                <a href="{% url 'viewmember' request.id %}">View Application</a>
            </li>
        {% empty %}
            <li>No pending requests</li>
        {% endfor %}
    </ul>
    

<h2>Announcements</h2>
<ul>
    {% for announcement in announcements %}
    <li>{{ announcement.title }} ({{ announcement.created_at }})</li>
    {% empty %}
    <li>No announcements yet.</li>
    {% endfor %}
</ul>
<a href="{% url 'create_announcement' society_id=1 %}">Add a new announcement?</a>

<h2>Events</h2>
<ul>
    {% for event_detail in event_participation %}
        <li>
            <a href="{% url 'event_detail' event_detail.event.id %}">
                {{ event_detail.event.title }}
            </a>
            <br>
            Participants: {{ event_detail.participants_count }}/
            {% if event_detail.event.max_participants %}
                {{ event_detail.event.max_participants }}
            {% else %}
                Unlimited
            {% endif %}
        </li>
    {% endfor %}
</ul>


</body>
</html>