<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to DECS</h1>
    {% if not is_member %}
    <a href="{{ apply_membership_url }}" class="btn btn-primary">Apply Now</a>
{% else %}
    <p>Hello dear member.</p>
{% endif %}
{% comment %} <h1><a href="{% url 'dannounce'%}">Announcements</a></h1> {% endcomment %}
<h1><a href="">Events</a></h1>
<h1><a href="">Calender</a></h1>
<p><a href="{% url 'home' %}">Go Back</a></p>
</body>
</html>